---
interface Props {
  current: number;
  total: number;
  hrefFor: (n: number) => string;
}
const { current, total, hrefFor } = Astro.props;
const pages = Array.from({ length: total }, (_, i) => i + 1);
---

{
  total > 1 && (
    <nav class="p-pagination" aria-label="Pagination">
      <ol class="p-pagination__items">
        <li class="p-pagination__item">
          {current > 1 ? (
            <a class="p-pagination__link--previous" href={hrefFor(current - 1)}>
              <i class="p-icon--chevron-down" />
              <span>Previous</span>
            </a>
          ) : (
            <span
              class="p-pagination__link--previous is-disabled"
              aria-disabled="true"
            >
              <i class="p-icon--chevron-down" />
              <span>Previous</span>
            </span>
          )}
        </li>
        {pages.map((n) => (
          <li class="p-pagination__item">
            <a
              class:list={[
                "p-pagination__link",
                { "is-active": n === current },
              ]}
              href={hrefFor(n)}
              aria-current={n === current ? "page" : undefined}
            >
              {n}
            </a>
          </li>
        ))}
        <li class="p-pagination__item">
          {current < total ? (
            <a class="p-pagination__link--next" href={hrefFor(current + 1)}>
              <span>Next</span>
              <i class="p-icon--chevron-down" />
            </a>
          ) : (
            <span
              class="p-pagination__link--next is-disabled"
              aria-disabled="true"
            >
              <span>Next</span>
              <i class="p-icon--chevron-down" />
            </span>
          )}
        </li>
      </ol>
    </nav>
  )
}
